.advantage__conteiner{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding:0 50px;          
}
.advantage__title {
    width: var(--width-block);
    max-width: 480px;       
}
.advantage__list {
    width: var(--width-block);
}

.advantage__item {    
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    background-image: url(../img/Star.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 32px; 
    margin-bottom: 32px;
}
.advantage__item:last-child {
    margin-bottom: 0;
}
@media (max-width:1240px) {
    .advantage__conteiner{        
        gap: 10px;
        padding:0 30px;            
    }
    .advantage__title {       
        max-width: 330px;       
    }
    .advantage__item {    
        font-size: 20px;       
    }
}

    @media (max-width:920px) {
        .advantage__conteiner{
            display: flex;
            flex-direction: column; 
            gap: 24px;
            padding:0 30px;                                         
        }
        .advantage__title {            
            max-width: 440px;            
            width: 100%;       
        }
        .advantage__list {
            width: 100%;
        }        
        .advantage__item {    
            font-size: 16px;           
            margin-bottom: 16px;
        }  
    }

    @media (max-width:560px) {
        .advantage__conteiner{            
            padding:0 20px;                    
        }
        .advantage__title {            
            max-width: 100%;
            margin-bottom: 16px;       
        }
        .advantage__item {    
            font-size: 14px;
            padding-left: 24px;            
        }        
    }

            