@font-face {
    font-family: Inter;
    font-weight: 500;
    font-display: swap;
    src:Local('InterMedium'),Local('Inter-Madium'),Local('Inter Medium')
    ,url('/fonts/inter-v12-cyrillic_latin-500.woff2')format('.woff2'),
    url('/fonts/inter-v12-cyrillic_latin-500.woff')format('.woff');
}
@font-face {
    font-family: Inter;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-v12-cyrillic_latin-regular.woff2'),format('.woff2'),
    url('/fonts/inter-v12-cyrillic_latin-regular.woff')format('.woff');
}