.hero {    
    padding-top: 0;
    overflow: hidden;
}

.hero__conteiner {
    display: flex;
    gap: var(--gap);
    position: relative;
}
.hero__content {
    width:var(--width-block);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero__slider-block {
    position: absolute;
    left: calc(var(--width-block) + var(--gap)/2);
    width:calc((var(--width-block) + var(--gap))*2 - var(--gap));
    max-width: var(--width-block);
    height: 100%;
}
.hero__title {
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__discription {
    margin-top: 0;
    margin-bottom: 32px; 
    text-transform: uppercase;
    flex-grow: 1;
}

.hero__image {
    width: var(--width-slide);
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;    
}
.hero__slider {
    position: relative;
    height: 100%;
}
.hero__arrow {
    position: absolute;
    bottom: var(--padding);
    left: calc(var(--width-slide) -var(--padding));
    display: flex;
    gap: var(--gap);
    z-index: 3;
    transform: translateX(-100%);
}
.hero__slider_btn {
    display: block;
    width: 42px;
    height: 42px;
    background: #FFC700 url(../img/arrow.svg) no-repeat center/12px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.hero__slider_btn:hover {
    background-color:#FFD952 ;
}

.hero__slider_btn:active {
    background-color:#E97B00 ; 
}

.hero__slider_btn_prev {
    transform: rotate(180deg);
}
.hero__slider_btn_next {
}
.hero__link {
    text-decoration: none;
}
@media (max-width:1240px) {
    .hero__title {        
        margin-bottom: 24px;
    }
    .hero__discription { 
        margin-bottom: 98px;  
}}
    @media (max-width:920px) {
        .hero__conteiner {
            flex-direction: column;
        }
        .hero__slider-block {
            position: static;
            height: 280px;
    }
    .hero__content {
        width: 100%;
    }
    .hero__title {        
        margin-bottom: 16px;
        max-width: 410px;
    }
    .hero__discription { 
        margin-bottom: 50px;
        max-width: 410px;
        font-size: 14px;
    }
    .hero__arrow {
        left: auto;
        right: var(--padding);
        transform: none;
    }
}
    @media (max-width:560px) {
        .hero__discription { 
            margin-bottom: 24px;
    }
    .hero__slider-block {
        max-width: var(--width-slide);
        margin: 0 auto;
}
}