.html{
    box-sizing: border-box;
}
:root {
    --width-slide:590px;    
    --width-block:calc(50%-var(--gap/2));
    --gap:10px;
    --padding:50px;  
}
*{
    box-sizing: inherit;
}
body{
    font-family: Inter, sans-serif;
    min-width: 320px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.conteiner {
    max-width: 1190px;    
    margin: 0 auto;    
}
ul{
    list-style: none;
    margin: 0;
    padding:0;
}
.link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}
.link:hover {
    color: #FFD952;
}
.image{
    max-width: 100%;
    height: auto;    
}
.button{
    display: inline-block;
    border-radius: 24px;
    padding: 18px 40px;    
    color: #232020;    
    background-color:#FFC700 ;
    border: none;
    cursor: pointer;
    border: 1px solid #FFC700;
    background-color: #FFC700;
    border-radius: 24px;
    outline: none;
}
.button:focus-visible {
    border-color:#9E7B00;
}
.button:hover {
    background-color: #FFD952; 
    border-color: #FFD952;
}   
.button_o{
    background-color: transparent;
    border: 1px solid #232020;    
}
.button_o:focus-visible {
    border-color:#FFC700;
} 
.button:active {
    transform: translate(2px, 2px);
}
.button:disabled {
    pointer-events: none;
    background-color: #E0E0E0;
    color: #898989;
    border-color: #E0E0E0 ;
    cursor: default;
}  
.section-offset {
    padding-top: 40px;
    padding-bottom: 40px;
}
.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.grey-block{
    background: #F8F8F8;
    border-radius: 12px;
    padding: var(--padding);
    min-height: 530px;
}
.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
    margin-top: 0; 
    margin-bottom: 0;
}
@media (max-width:1240px) {
    :root {
        --padding:30px;
        --width-slide:440px;
    }
    .conteiner{
    max-width: 890px;
    }
    .section-offset {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
} 
.title {    
    font-size: 34px;    
}
.grey-block{    
    min-height: 396px;
}
}
@media (max-width:920px) {
    :root {
        --padding:24px;
        --width-slide:311px;
    }
    .conteiner{
     max-width: 690px;
     padding:0 30px;
    } 
 .grey-block{    
     min-height: 280px;
 }
 .button {
    padding: 10px var(--padding);
    font-size: 14px;
 }
 }
 @media (max-width:560px) {
    :root {
        --padding:20px;
        --gap:4px;
    }
    .conteiner{
     padding: 0 6px;
    }    
 .title {    
     font-size: 24px;    
 }
 .grey-block{    
     min-height: 232px;
 }
 .button {    
    font-size: 12px;
 } 
 }